body{
    background-image: url("nature_KZ.jpg") ;
    background-repeat: no-repeat;
    position: center fixed;
    background-size: cover;
}
.options{
    opacity: 0.5;
    border-radius: 11px;
    width: 360px;
    height: 600px;
    background-color:white;
    color:black;
    font-size: 25px;
    border: 3px solid rgba(90, 82, 82, 0.363);
    margin-left: 65%;
}
.input{
    opacity:1;
    width:350px;
    height: 50px;
    font-size: 20px;
    color:grey;
    background-color:white;
    border-radius: 5px;
    border:2px solid whitesmoke;
}
h1{
    margin-left: 63%;
    color:rgb(83, 190, 204);
}
td{
    padding: 10px 0;
}
