body
{
    background-color: #FAFAFA;
}
.leftside
{
    width: 50%;
}
.iphone img
{
    position: fixed;
    float: left;    
    margin-left: 29.85%;
    margin-top: 140px;
    width: 19.47916%;
}
.rightside
{
    border: 1px solid #FAFAFA;
    position: fixed;
    float: right;
    width: 18.125%;
    left: 51.0416%;
    height: 60%;
    margin-top: 35px;
    margin-right: 584px;
    background-color: white;
}
.footer
{
    margin-top: 60px;
    border: 1px solid #FAFAFA;
    height: 45px;
    background-color: white;
    color: black;
    font-weight: 200;
    padding-top: 25px;
}
a
{
    color: #3897F0;
    text-decoration: none; 
}
.image
{
    text-align: center;
    margin-left: 74px;
    margin-top: -12px;
}
.text
{
    position: fixed;
    left: 53.802%;
    margin-top: -4px;
    color: #999;
    font-size: 18.5px;
    font-weight: 550;
    font-style: "Arial";
}
.footertext
{
    margin-top: 15px;
    color: #999;
    font-size: 14.5px;
    font-weight: 550;
    font-style: "Arial";
}
.center
{
    text-align: center;
}
.button
{
    background-image: url("images/fb.png");
    background-repeat: no-repeat;
    background-position: 54px;
    background-color: #3897F0;
    color: #FBFDFF;
    font-weight: bold;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    border: none;
    padding-left: 41px; 
    text-align: center;
    margin-top: 74px;
    margin-left: 39px;
    width: 268px;
    height: 32px;
}
.reg
{
    background-color: #3897F0;
    color: #FBFDFF;
    font-weight: bold;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-top: 20px;
    margin-left: 39px;
    width: 268px;
    height: 32px;
}
.OR
{
    text-align: center;
    color: #999;
    font-size: 13px;
    margin-top: 20px;
    font-weight: 545;
}
.form
{
    height: 30px;
    border-radius: 5px;
    border:1px solid #efefef;    
    padding-left: 10px;
    font-size: "Arial";
    background-color: #FAFAFA;
    font-style: #C3C3C3;
    font-size: 11.5px;
    font-weight: 500;
    width: 256px;
    text-align: left;
    margin-left: 38px;
    margin-top: 8px;
    opacity: .8;
}