*{
    padding: 0px;
    margin: 0px;
}
.black{
    background-color: black;
    width :100%;
    height : 100px; 
}
h1 {
    margin: 0 5% auto;
    color: white;
}
.toptext
{
    color: gray;
    font-weight: 400;
    font-family: "Arial", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1.2%;
    font-size: 20px;
}
.TODO
{
    margin-left: 20%;
    padding-top: 4%;
    color: black;
    font-size: 200%;
    font-weight: 400;
}

.wrap_content {
    height: 500px;
    margin-left: 20%;
    margin-right: 20%;
    /*background-color: red; */
    margin : 10px,10p,10px,10px;
}
.input {
    margin-left: 24%;
    margin-top: 2%;
}
#myinput{
    width: 60%;
    height: 7%; 
}
.Add{
    margin-left: 3%;
    height: 7%;
    width: 7%;
    background-color: royalblue;
    border-color: royalblue;
    color: white;
}
ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
ul li:hover{
    background-color:whitesmoke;
}
ul li {
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    font-size: 15px;
    transition: 0.2s;
    width: 55%;
}
ul li.checked {
    text-decoration: line-through;
    width: 55%;
    
}
/*ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    left: 31%;
} */
.delete{
    position: absolute;
    right: 0;
    padding-right: 15px;
    margin-right: 50%;
}